.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $marineblue;
    &__title, &__text {
        color: white;
    }

    &__title {
        font-weight: 800;
        font-size: 2.25rem;
    }

    &__text {
        font-size: 0.875rem;
        line-height: 30px;
    }

    &__btn {
        border: 0;
        border-radius: 0px;
        padding: 25px 75px;
        color: $darkblue;
        font-weight: 700;
        font-family: $montserrat;
        background-color: white;
        font-size: 0.75rem;
        cursor: pointer;
    }

    @include media-max("desktop") {
        //mobile
        padding: 35px 23px 85px 23px;

        &__title {
            margin-bottom: 45px;
        }

        &__text {
            width: 330px;
            margin-bottom: 60px;
        }

        &__btn {
            margin-top: 150px;
        }
    }
    @include media-min("desktop") {
        //desktop
        padding-top: 80px;
        padding-bottom: 95px;
        &__title {
            margin-bottom: 50px;
            
        }

        &__text {
            width: 850px;
            margin-bottom: 75px;
        }

        &__btn {
            margin-top: 150px;
        }
    }
}

.wrapper {
    position: relative;
}

.bg {
    background: url('../../../images/climber-on-el-cap-main-page-web-block-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @include media-max("desktop") {
        width: 328px;
        height: 355px;
        top: 20px;
    }

    @include media-min("desktop") {
        width: 467px;
        height: 452px;
        top: 35px;
    }
}


.block {
    margin: 0 auto;
    background-color: white;
    text-align: left;
    position: absolute;
    top:0px;
    left: 50%;
    transform: translateX(-50%);

    &__title {
        color: $marineblue;
        font-weight:700;
    }

    &__text {
        color: $grey;
        font-weight: 600;
        line-height: 25.5px;
    
    }

    &__transparent {
        background: url('../../../images/block_transparent.png');
        background-size:cover;
        background-repeat: no-repeat;

    }


    @include media-max("desktop") {
        //mobile
        width: 299px;
        padding: 30px 25px 23px 25px;
        &__title {
            font-size: 1.0625rem;
        }

        &__text {
            font-size: 0.6875rem;
        }

        &__transparent {
            width: 250px;
            height: 222px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

    @include media-min("desktop") {
        //desktop
        width: 426px;
        padding: 45px 35px 24px 35px; 
        margin-bottom: 87px;
        &__title {
            font-size: 1.25rem;
        }

        &__text {
            font-size: 0.875rem;
        }

        &__transparent {
            width: 355px;
            height: 286px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
    }
}