@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

$montserrat: 'Montserrat', sans-serif;
$lightgreen: #9AF2D3;
$darkblue: #285D81;
$marineblue: #2580BC;
$grey: #8F8F8F;